.form {

  &__wrapper {
    box-sizing: border-box;
    width: 80%;
    max-width: 470px;
    min-width: 288px;
    height: 590px;
    transform: scaleX(0);
    transition: transform .5s;

    @media screen and (min-width: $display-aside-breakpoint) {
      transform-origin: left;
      height: 712px;
    }

    &_entered {
      transform: scaleX(1);
    }
  }

  &__aside {
    width: $form-aside-width;
    height: 552px;
    background-color: lightcoral;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;

    @media screen and (max-width: $display-aside-breakpoint) {
      display: none;
      transition: 0s;
    }

    &_entered {
      transform: scaleX(1);
    }
  }

  &__header {
    margin: 0;
    text-align: center;
    height: 55px;
    color: #fff;

    @media screen and (min-width: $display-aside-breakpoint) {
      height: 80px;
      font-size: 48px;
    }
  }
}