/*===========================================
                  Dimensions
===========================================*/
$form-aside-width: 308px;
$form-wrapper-width-lg: 470px;



/*===========================================
                  Breakpoints
===========================================*/
$display-aside-breakpoint: 820px;
$hide-aside-breakpoint: 819px;


/*===========================================
                  Colors
===========================================*/
$primary-text-color: rgb(32,32,32);
$secondary-text-color: rgb(162,162,175);
$error-text-color: rgba(234,48,48, .7);
$accent-color: #531fbf;