.datefield {
  width: 100%;
  height: 75px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-self: flex-end;
}

.datefield__controls {
  box-sizing: border-box;
  width: 100%;
  height: 12px;
  font-size: 11px;
  color: $secondary-text-color;
  letter-spacing: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 12px 
}

.datefield__error {
  color: $error-text-color;
}

.datefield__selects {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.datefield__select {
  width: 100px;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;

  &_short {
    width: 50px;
  }

  &_medium {
    width: 130px;

    @media screen and (max-width: 570px) {
      width: 100px;
    }

    @media screen and (max-width: 520px) {
      width: 50px;
    }
  }

  &_long {
    width: 130px;

    @media screen and (max-width: 470px) {
      width: 100px;
    }
  }
}

.datefield__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  border: 2px solid $divider-color;
  flex: 1;
  padding: 0 12px;
  color: transparent;
  text-shadow: 0 0 0 #000;
  cursor: pointer;
}