%scale-animation {
  transform: scaleX(0);
  transition: transform .5s;
  transform-origin: center;

  @media screen and (min-width: $display-aside-breakpoint) {
    transform-origin: left;
  }
}


.form__wrapper {
  box-sizing: border-box;
  width: 80%;
  max-width: 470px;
  min-width: 288px;
  height: 590px;

  @media screen and (min-width: $display-aside-breakpoint) {
    height: 712px;
  }
}


.form__aside {
  width: $form-aside-width;
  height: 552px;
  background-color: lightcoral;
  transform: scaleX(0);
  transition: transform .5s;
  transform-origin: right;

  &_entered {
    transform: scaleX(1);
  }

  @media screen and (max-width: $hide-aside-breakpoint) {
    display: none;
    transition: 0s;
  }
}


.form__header {
  margin: 0;
  text-align: center;
  height: 55px;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  @extend %scale-animation;
  
  &_entered {
    transform: scaleX(1);
  }

  @media screen and (min-width: $display-aside-breakpoint) {
    height: 80px;
    font-size: 48px;
  }
}


.form__content {
  box-sizing: border-box;
  background-color: #fff;
  height: 510px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 35px 0 70px 0;
  @extend %scale-animation;

  &_entered {
    transform: scaleX(1);
  }

  @media screen and (min-width: $display-aside-breakpoint) {
    height: 552px;
  }
}


/* For splitting your form into rows. Rows will take equal amount od space left in their container after allocating all items with fixed width. If there is only one row, it will be as high as the container */
.form__row {
  width: 90%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 430px) {
    width: 80%;
  }
}

/* For splitting form into rows that have fixed height (90px). Can be used with regular form rows */
.form__row_fixed-height {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;

  @media screen and (min-width: 430px) {
    width: 80%;
  }
}


/* For splitting your form into sections smaller then rows. Form cells should be used inside form rows. Long cell will take almost all the space remaining after allocating all other elements with fixed width (expect for margins between cells). */
.form__cell {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px dashed black;
  min-width: 0;

  &:first-child {
    margin-right: 6px;
  }

  &:last-child {
    margin-left: 6px;
  }

  &:not(:first-child):not(:last-child) {
    margin: 0 6px;
  }
  
  &_short {
    @extend .form__cell;
    flex: 0 0 114px;
  }

  &_long {
    @extend .form__cell;
    flex: 1 1
  }
}


.form__footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


.form__separator {
  width: 10px;
  height: 50%;
  align-self: flex-end;
  border-top: 2px solid $divider-color;
  margin: 0 8px;
}
