%scale-animation {
  transform: scaleX(0);
  transition: transform .5s;
  transform-origin: center;

  @media screen and (min-width: $display-aside-breakpoint) {
    transform-origin: left;
  }
}


.form__wrapper {
  box-sizing: border-box;
  width: 80%;
  max-width: 470px;
  min-width: 288px;
  height: 590px;

  @media screen and (min-width: $display-aside-breakpoint) {
    height: 712px;
  }
}


.form__aside {
  width: $form-aside-width;
  height: 552px;
  background-color: lightcoral;
  transform: scaleX(0);
  transition: transform .5s;
  transform-origin: right;

  &_entered {
    transform: scaleX(1);
  }

  @media screen and (max-width: $hide-aside-breakpoint) {
    display: none;
    transition: 0s;
  }
}


.form__header {
  margin: 0;
  text-align: center;
  height: 55px;
  color: #fff;
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  @extend %scale-animation;
  
  &_entered {
    transform: scaleX(1);
  }

  @media screen and (min-width: $display-aside-breakpoint) {
    height: 80px;
    font-size: 48px;
  }
}


.form__content {
  box-sizing: border-box;
  background-color: #fff;
  height: 510px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 35px 0 70px 0;
  @extend %scale-animation;

  &_entered {
    transform: scaleX(1);
  }

  @media screen and (min-width: $display-aside-breakpoint) {
    height: 552px;
  }
}


/* For splitting your form into rows. Rows will take equal amount od space in their container. If there is only one row, it will be as high as the container */
.form__row {
  width: 90%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px dashed black;

  @media screen and (min-width: 430px) {
    width: 80%;
  }
}


/* For splitting your form into sections smaller then rows. Form cells should be used inside form rows. Long cell will take almost all the space remaining after allocating all other elements with fixed width (expect for margins between cells). */
.form__cell {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  min-width: 0;

  &:first-child {
    margin-right: 6px;
  }

  &:last-child {
    margin-left: 6px;
  }

  &:not(:first-child):not(:last-child) {
    margin: 0 6px;
  }
  
  &_short {
    @extend .form__cell;
    flex: 0 0 114px;
  }

  &_long {
    @extend .form__cell;
    flex: 1 1
  }
}


.form__footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


.button {
  width: 237px;
  height: 50px;
  box-shadow: 0px 20px 25px rgba(32,31,54,0.15);
  background-image: linear-gradient(0deg, #8557eb 0%, #6529e5 100%);
  margin-top: -25px;
  @extend %scale-animation;

  &_entered {
    transform: scaleX(1);
  }

  @media screen and (min-width: 630px) {
    align-self: flex-end;
    margin-right: -50px;
  }

  @media screen and (min-width: $display-aside-breakpoint) {
    margin-right: -1px;
  }

  @media screen and (min-width: 900px) {
    margin-right: -50px;
  }
}