.selectfield {
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
}

.selectfield__controls {
  font-size: 11px;
  color: $secondary-text-color;
  height: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 12px;
}

.selectfield__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Rubik', sans-serif;
  background: url('../images/arrow.png') no-repeat 89% center;
  border: none;
  border-bottom: 2px solid $divider-color;
  flex: 1;
  padding: 0 12px;
  color: transparent;
  text-shadow: 0 0 0 #000;
  cursor: pointer;
}

.selectfield__underline {
  width: 100%;
  height: 2px;
  background-color: $accent-color;
  position: absolute;
  bottom: 0;
  transform-origin: center;
  transition: all .3s;
  transform: scaleX(0);

  &_active {
    @extend .selectfield__underline;
    transform: scaleX(1);
  }
}

.selectfield__dropdown {
  position: absolute;
  background-color: #fff;
  top: 101%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
  transform: scaleY(0);
  transition: transform .3s;
  transform-origin: top;
  padding: 10px 0;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;

  &_top {
    top: -140%;
    transform-origin: bottom;
  }

  &_active {
    transform: scaleY(1);
  }
}

.selectfield__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.selectfield__option {
  font-size: 14px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $divider-color;
  }
}

